@CHARSET "UTF-8";

@import url('ajax_form.css');
@import url('transfer.css');

.js-show
{
	display:none;
}

.js .js-show
{
	display:inline;	
}

.js .js-hide
{
	display:none;	
}	

#content.withtabs
{
	margin-left:0;
	margin-right:16.37em;
}
	
#content
{
	width: 700px;
	margin-right:0em;
}

#homeIndexDisplay h4 {
	width: 220px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	*display: inline;
	zoom: 1;
}

#homeIndexDisplay select {
	margin: 5px;
	width: 220px;
}

#homeIndexDisplay select :hover {
	cursor: pointer;
	background-color: #E4E4E4;
}

#sidebarContainer {
	width: 200px;
	float: right;
}

.sidebar {
	float: right;
	margin: 1em;
	overflow: hidden;
	text-align: left;
	width: 18em;
	border: 0.1em solid #dbd3c2;
}

.sidebar .feature dt,.sidebar .feature.noborder .feature dt {
	background: none repeat scroll 0 0 #12416C;
	color: #FFFFFF;
	margin: 0 0.667em 0 0;
	padding: 0.467em 0.667em;
	text-transform: uppercase;
	font: bold 1.5em Arial, Helvetica, sans-serif;
}

.sidebar dd {
	font-size: 1.2em;
	padding: 0.5em;
}

.sidebar  dl.feature dl dt,
.sidebar  dl.feature dl dd	
{
	font-size:1em;
}

.sidebar  dl.feature dl dt
{
	color:black;
	background:none;
	border-bottom:1px solid #12416C;
	margin-right:2em;
}		
.sidebar  dl.feature dl dd	
{
	border-bottom:2px solid #12416C;	
}

#content li {
	font-size: 1em;
}

.sydma .clickable 
	{
	cursor: pointer;	
}

.sydma .jstree-classic {
	background: white;
}

.sydma .jstree {
	overflow-x: visible;
}

.sydma .tab_navigation {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
}

#addUserToTablei, #goToLevelSelection { margin: 0 10px 10px 640px; }
#ObjectType p { margin: 0 0 0 1.4em; }
.inputs { margin: 0 0 0 60px; }

label#fullAccess, label#editingAccess, label#viewingAccess { margin: 20px 0 0 0; }

input.right { float: right; }

input.tab_navigaiton { margin-left: 630px; }

#permissionsTabs span { margin: 0 0 0 60px; }

.sydma .field_value {
	margin-left: 10px;
	margin-top: 0.2em;
	vertical-align: bottom;
}

.sydma_content .tabs li,.sydma_content .tabs li a, #permissionsTabs li, #permissionsTabs li a {
	background-image: none;
}

table.login,td {
	border-width: 0 !important;
}

table.login td.label {
	width: 100px;
}

#title errors {
	color: red;
	font-size: 1.1em !important;
}

/* CSS extracted from jQuery modifications */
form.formbuilder .ui-widget-header {
	border: 0px solid;
	background: none;
	color: #222222;
	font-weight: bold;
}

.ui-widget-content
{
	border: 0px;
}
	
#content form.formbuilder fieldset .ui-tabs-nav li
{
	border: 1px solid #F9CF66;
	margin-left: 5px;
	top: 1px;
}
	
.sydma_content form.formbuilder fieldset .ui-tabs-nav li
{
	border: 1px solid #F9CF66;
	margin-left: 5px;
	top: 2px;
	padding: 0.5em 0.5em 1em;
}

.sydma_content form.formbuilder fieldset .ui-tabs-nav li.ui-state-active
{
	background-color: #FDFCDE;
}

.sydma_content form.formbuilder fieldset .ui-tabs-nav li
{
	background-color: #F9CF66;
}
/**
	IE-7 forcing color to link
*/
#content form.formbuilder fieldset .ui-tabs-nav li a,
.sydma_content form.formbuilder fieldset .ui-tabs-nav li a
{
	color: #125687;
	text-decoration: none;
}	

#content form.formbuilder fieldset .ui-tabs-nav li a:hover,
.sydma_content form.formbuilder fieldset .ui-tabs-nav li a:hover	
{
	text-decoration: none;
	font-weight: normal;
}	

/*Interaction states*/
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-widget button
	{
	border: 0px solid #aed0ea;
	background: transparent url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50%
		50% repeat-x;
	font-weight: normal;
	color: #2779aa;
	text-decoration: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
	{
	border: 0px solid #74b2e2;
	background: transparent url(images/ui-bg_glass_100_e4f1fb_1x400.png) 50%
		50% repeat-x;
	font-weight: bold;
	color: #0070a3;
	text-decoration: none;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
	{
	border: 0px solid #2694e8;
	background: transparent url(images/ui-bg_glass_50_3baae3_1x400.png) 50%
		50% repeat-x;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #000;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: 0em 0em;
	text-decoration: none;
}

.sydma_content ul li.ui-state-default.ui-state-hover {
	font-weight: normal;
}

.sydma_content ul.ui-tabs-nav {
/*	background-image: url('../images/common/bc_bg.gif');
	background-repeat: repeat-x;
	height: 30px;
	line-height: 30px;
	color: #888;*/
	border-bottom: solid 1px #F9CF66;
	border-radius: 0px;
	/*overflow: hidden;
	margin: 1em 1.4em 0 1.4em;
	padding: 0;
	font-weight: normal;*/
}

.sydma_content ul li.ui-state-default {
/*	list-style-type: none;
	padding-left: 10px;
	display: inline-block;
	float: left;*/
}

.sydma_content ul li.ui-state-default a {
/*	display: inline-block;
	background-image: url('../images/common/bc_separator.gif');
	background-repeat: no-repeat;
	background-position: right;
  margin-right: 10px;
	padding-right: 15px;
	line-height: 23px;
	text-decoration: none;
	color: #999;
	outline: none; */
}

.sydma #permissionsTabs ul li a { 
/*	background-image: url('../images/common/bc_separator.gif'); */
}


.sydma_content ul li.ui-state-default a:hover {
/*	font-weight: normal;
	color: #000;*/
}

.sydma_content ul li.ui-state-active a {
/*	font-weight: bold;
	color: #000;*/
}

.sydma_content ul li.ui-state-active.ui-state-hover a:hover {
	font-weight: bold;
}

.sydma_content ul li.ui-state-default.done a {
/*	color: #CCC; */
}

.sydma_content ul li.ui-state-default.ui-state-active.done a {
/*	color: #000;*/
}

ul.ui-widget li 
{
/*	list-style:none;*/
}


/** TWO COL STYLE {Content <> Menu}*/

.sydma .column_left
{
	float:left;	
}

.sydma .column_right
{
	float:right;
}

/** popup style*/

.popup #w3
{
	border-width:0;
}

.popup .sydma table
{
	margin:0;
}	

/** duplicate styles in ajax window since it exists outside #content*/

.sydma 
{
	padding:1em 2em;
}
.sydma p 
{
    font-size: 1.1em;
    line-height: 145%;
}

.sydma h1,.ajax_content h2,.ajax_content h3,.ajax_content h4,.ajax_content h5,.ajax_content h6
	{
	color: #ce1126;
	clear: both;
	margin: .8em 0 0 0;
	font-weight: normal;
	text-transform:capitalize;
}

.sydma h3 {
	font-size: 1.4em;
	margin: 2em 0 0 0;
	font-weight: bold;
}

.sydma form
{
	margin-top:1em;
}

.sydma form.formbuilder input.button.submit-button {
	background: #12416c;
}


.sydma form.formbuilder li,
.sydma_exception li {
    list-style: none outside none;
    margin: 0;
    padding: 0.5em 0.5em 1em;
}



.sydma form.formbuilder label,
.sydma_exception label	 {
    
    margin-right: 1em;
    
}

.sydma form.formbuilder li.error,
.sydma_exception li.error	 {
	border-color: #ce1126;
	border-width: 2px 0 1px 0;
	color: #ce1126;
	border-style: solid;
	width: auto;
}

.sydma label.error,
.sydma_exception label.error	 {
	color: #a00;
	background: transparent url(../images/common/icon_error.gif) no-repeat
		scroll 0 2px;
}


.sydma form.formbuilder p.error-text,
.sydma_exception p.error-text	 
{
	margin-bottom: .8em;
	color: #ce1126;
	background: transparent url(../images/common/icon_error.gif) no-repeat
		left .167em;
	border-bottom: .083em solid #ce1126;
	padding-bottom: .5em;
	padding-left: 1.7em;
}

.sydma form.formbuilder .buttons 
{
	text-align: right;
	margin-top: 1em;	
}

.button
{
	cursor:pointer;
}

#content img.help_image
{
	border-color: black;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	display: block;   
	margin-left: auto;   
	margin-right: auto;
}

/*duplicate table style */

.sydma_content table {
	font-size: .9em;
	margin: 1em 0 1em 1px;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #dbd3c2;
	border-bottom: 1px solid #4d483c;	
	width: 100%;
}

.sydma_content table.layout,table.layout {
	border: none;
}

.sydma_content table.layout td,table.layout td,
.sydma_content table.layout th,table.layout th
	{
	border: none;
}

.sydma_content caption {
	caption-side: bottom;
	text-align: right;
	margin: .2em 0;
	color: #999;
}

.sydma_content table td,.sydma_content table th {
	margin: 0;
	padding: .4em;
	background: none;
	border: 1px solid #dbd3c2;
	font-size: 1.2em;
}

.sydma_content table th {
	font-weight: bold;
	background: #fae0a9;
	border: 1px solid #dbd3c2;
	border-bottom: 2px solid #4d483c;
	vertical-align: middle;
}

.sydma_content table.tabledata_blue {
	width: auto;
	table-layout:fixed;
	word-wrap:break-word;
}


.sydma_content .corner_right
{
	position:absolute;
	right:15px;
}

/*icon before link style*/

.sydma_content .icon
{
	padding-left:20px;	
	position:relative;
}

.sydma_content .icon:before
{
	content:"";
	position:absolute;
	left:0px;
	bottom:0px;
	height:13px;
	width:15px;
	margin-right:5px;
	background-image:url('images/ui-icons_3d3d3d_256x240.png');
}

.sydma_content .icon-stop
{
}

.sydma_content .icon-stop:before
{		
	background-position: 0px -130px;			
}


.sydma_content .icon-storage
{
}

.sydma_content .icon-storage:before
{		
	background-position: -110px -98px;		
}

.sydma_content .icon-warn
{
}

.sydma_content .icon-warn:before
{		
	background-position: 0px -145px;			
}

/** datepicker **/

/*
 * Over-write usyd css style
 * Why would ANYONE bind a style to #content img???? sigh 
 */
#content img.ui-datepicker-trigger 
{
	padding:0;
}

/*
 * Aligns picker image with input row
 */
.sydma_content img.ui-datepicker-trigger
{
	vertical-align:top;
	padding:0;
}

#padlock_icon
{
	padding: 0 !important;
}

ul.search-results
{
	border-bottom: 0.1em solid #DBD3C2; /*grey*/
	padding: 0 !important;
}

ul.search-results li
{
	border-top: 0.1em solid #DBD3C2; /*grey*/
	padding: 0.5em 0 0.5em 2em !important;
}

ul.search-results li p.summary, em.subtitle
{
	margin-left: 2em !important;
}

ul.search-results li em.subtitle
{	
	color: #CE1126;
}	

ul.search-results li span.advertised-status
{	
	color: #888888;
}	

div.solrPagination
{
	font-weight: bold;
	margin-top: 2em;
	text-align: center;
}	

div.solrPagination a
{
	border: 1px solid #125687;
	font-weight: normal;
	padding: 0.2em 0.5em;
	text-decoration: none !important;
	color: #125687;
	margin: 0.2em;
}

div.solrPagination span
{
	margin: 0.2em;
}		
	
div.solrPagination a:HOVER
{
	background-color: #125687;
	color: #FFFFFF;	
}

p.search-stats
{
	border-top: 0.1em solid #DBD3C2;
	padding-top: 0.6em;
	text-align: right;
}

#search-button 
{
	margin-bottom: -1px !important;
	margin-left: 3px !important;
	padding-top: 2px !important;
}		

/**
Revert color change made by jQuery UI
*/
.sydma_content .ui-widget-content #publication_section a
{
	color:#125687;
}

/**
Removing jQuery autocomplete bullet points on autocomplete
*/
.ui-menu-item
{
	display: block;
}

/**
	IE7 fixes
*/

#content #w4
{
	margin-top: 1em;
}

#content FORM.formbuilder SELECT
{
	width: 15em;
}

.ui-widget-content A
{
	color: #125687;
}

#accessibility
{
	display: none;
}